<div class="form-section" data-section-type="summary">
  <div class="section-header">
      <h3 class="section-header-title"><i class="fas fa-bars drag-handle"></i><i class="fas fa-quote-left text-indigo-500"></i> Summary</h3>
      <button type="button" class="btn-remove-section" title="Remove Section"><i class="fas fa-times"></i></button>
  </div>
  <div class="section-content">
      <textarea name="summary[content]" rows="4" class="form-input" required>{{ section.content or '' }}</textarea>
  </div>
</div>